.setting {
  padding: 10px;
  cursor: pointer;
}
.setting__row {
  margin-bottom: 5px;
  display: flex;
  font-weight: 12px;
  color: var(--color-secondary);
}
.setting:hover .setting__row {
  color: var(--color-secondary-hover);
}
.setting__row label {
  flex-basis: 40px;
  margin-right: 5px;
  color: var(--color-secondary-variant);
  cursor: pointer;
}
