.item {
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 3px #eee;
}
.item:hover {
  opacity: .9;
}
.content {
  flex: 3 0 0;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
}
.title {
  margin: 5px 0;
  font-size: 20px;
}
.description {
  width: 100%;
  font-size: 14px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-height: 200px;
  border: 1px solid #eee;
}
@media screen and (max-width: 700px) {
  .image {
    flex: 0 0 100%;
  }
}
