.search-bar {
  margin-bottom: 10px;
  display: flex;
}

.input {
  flex-grow: 1;
  height: 30px;
  font-size: 14px;
  border: 1px solid var(--color-secondary);
  margin-right: 5px;
  border-radius: 5px;
}
.btn {
  flex: 0 0 50px;
  background-color: var(--color-secondary);
}