.header__trend {
  font-weight: bold;
  flex-grow: 1;
}
.header__tabs {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__tab {
  flex: 1 0 0;
  align-self: stretch;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, .6);
  -webkit-tap-highlight-color: transparent;
}
.header__tab:focus {
  outline: none;
}
.header__tab:hover {
  color: rgba(255, 255, 255, .8);
}
.header__tab.active {
  color: rgba(255, 255, 255, 1);
}
.content {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  overflow-y: scroll;
}
.page {
  max-width: var(--page-width);
  margin: auto;
  padding: 10px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px lightgray;
}
.footer__info {
  font-size: 12px;
}