
:root {
  --color-primary: #0622ee;
  --color-primary-hover: #000ae4;
  --color-primary-variant: #3700b3;
  --color-secondary: #03dac6;
  --color-secondary-hover: #00b798;
  --color-secondary-variant: #018786;
  --color-error: #b00020;
  --color-light: #fff;
  --color-dark: #000;
  --header-height: 56px;
  --footer-height: 40px;
  --page-width: 850px;
}
